In [2]:
import numpy as np
import pandas as pd

In [3]:
COLUMNS = [
    "Country",
    "Overall score",
    "Government",
    "Technology Sector",
    "Data and Infrastructure"
]

In [4]:
data_2021=pd.read_excel("../data/2021-Government-AI-Readiness-Index-public-dataset.xlsx",sheet_name="Detailed scores",usecols=COLUMNS,header=1)
print(data_2021.isna().sum())
data_2021.head(10)

Country                    0
Overall score              0
Government                 0
Technology Sector          0
Data and Infrastructure    0
dtype: int64

,Country,Overall score,Government,Technology Sector,Data and Infrastructure
0,United States of America,88.159612,88.458142,83.307719,92.712973
1,Singapore,82.456813,94.876945,66.692602,85.800893
2,United Kingdom,81.250745,85.689404,67.256325,90.806506
3,Finland,79.233742,88.447368,63.852136,85.401723
4,Netherlands,78.506811,80.424014,66.174703,88.921716
5,Sweden,78.164611,80.759755,67.372481,86.361596
6,Canada,77.730853,84.361034,63.754103,85.077421
7,Germany,77.264447,78.043223,67.684101,86.066016
8,Denmark,76.959918,83.496950,63.238442,84.144362
9,Republic of Korea,76.547342,85.265556,58.486311,85.890158

In [5]:
data_2022=pd.read_excel("../data/2022-Government-AI-Readiness-Index-public-data.xlsx",sheet_name="Detailed scores",usecols=COLUMNS,header=1)
print(data_2022.isna().sum())
data_2022.head(10)

Country                    0
Overall score              0
Government                 0
Technology Sector          0
Data and Infrastructure    0
dtype: int64

,Country,Overall score,Government,Technology Sector,Data and Infrastructure
0,United States of America,85.721338,86.206601,81.673650,89.283763
1,Singapore,84.116260,89.679262,68.498240,94.171278
2,United Kingdom,78.540102,81.807217,65.569711,88.243378
3,Finland,77.593327,87.803955,58.705584,86.270442
4,Canada,77.389162,84.105943,64.410143,83.651401
5,Republic of Korea,76.756998,86.816844,53.955131,89.499021
6,France,75.783584,83.040497,59.359442,84.950813
7,Australia,75.291780,81.819081,54.114686,89.941573
8,Japan,75.253637,81.218981,56.090212,88.451717
9,Netherlands,75.112283,78.234244,59.940203,87.162403

In [6]:
data_2023=pd.read_excel("../data/2023-Government-AI-Readiness-Index-Public-Indicator-Data.xlsx",sheet_name="Pillar & dimension scores",usecols=['Total score',"Country",
    "Government",
    "Technology Sector",
    "Data and Infrastructure"],header=1)
data_2023.rename(columns={"Total score": "Overall score"}, inplace=True)
print(data_2023.isna().sum())
data_2023.head(10)

Country                    0
Overall score              0
Government                 0
Technology Sector          0
Data and Infrastructure    0
dtype: int64

,Country,Overall score,Government,Technology Sector,Data and Infrastructure
0,Afghanistan,21.268713,13.990000,21.705192,28.110948
1,Albania,43.262394,42.529675,31.973132,55.284374
2,Algeria,35.988109,30.097106,30.563135,47.304086
3,Andorra,46.254249,38.815627,35.044493,64.902625
4,Angola,29.140256,22.548086,18.506216,46.366466
5,Antigua and Barbuda,39.410805,33.327741,27.563363,57.341311
6,Argentina,57.724174,70.310635,35.273547,67.588339
7,Armenia,45.215315,43.497073,33.579762,58.569111
8,Australia,73.888643,83.344561,52.567534,85.753832
9,Austria,72.365795,77.693416,56.428485,82.975485

In [7]:
data_2024=pd.read_excel("../data/2024-GAIRI-data.xlsx",sheet_name="Scores per pillar and dimension",usecols=['Total',"Country",'Infrastructure',
    'Government','Technology Sector'],header=1)
data_2024.rename(columns={"Total": "Overall score", "Infrastructure": "Data and Infrastructure"}, inplace=True)
print(data_2024.isna().sum())
data_2024.head(10)

Country                    0
Overall score              0
Government                 0
Technology Sector          0
Data and Infrastructure    0
dtype: int64

,Country,Overall score,Government,Technology Sector,Data and Infrastructure
0,United States of America,87.032182,89.257568,80.943829,88.378778
1,Singapore,84.249441,90.962032,68.650950,84.610803
2,Republic of Korea,79.977802,84.592259,62.601534,86.257834
3,France,79.357543,85.292857,63.530200,76.197648
4,United Kingdom of Great Britain and Northern I...,78.883441,84.467197,66.566415,69.720044
5,Canada,78.175297,85.483118,61.693284,70.398915
6,Netherlands,77.229804,84.575161,60.115238,79.529390
7,Germany,76.898268,79.236426,64.913026,74.856532
8,Finland,76.484718,84.855177,60.864522,72.601918
9,Australia,76.447268,86.182526,56.257581,68.389251

In [8]:
common_countries = set(data_2021["Country"]).intersection(
    data_2022["Country"],
    data_2023["Country"],
    data_2024["Country"]
)
print('Total common countries:', len(common_countries))
for country in common_countries:
    if country in ['Nepal','India','Pakistan','Bangladesh','Sri Lanka','Bhutan','Maldives','Afghanistan']: # Check if the country list contains SAARC countries
        print('SAARC COUNTRY:', country)

Total common countries: 152
SAARC COUNTRY: Pakistan
SAARC COUNTRY: Nepal
SAARC COUNTRY: Maldives
SAARC COUNTRY: Bangladesh
SAARC COUNTRY: Afghanistan
SAARC COUNTRY: Sri Lanka
SAARC COUNTRY: India
SAARC COUNTRY: Bhutan

In [9]:
# Filter datasets to only include common countries
data_2021_common = data_2021[data_2021["Country"].isin(common_countries)].set_index("Country")
data_2022_common = data_2022[data_2022["Country"].isin(common_countries)].set_index("Country")
data_2023_common = data_2023[data_2023["Country"].isin(common_countries)].set_index("Country")
data_2024_common = data_2024[data_2024["Country"].isin(common_countries)].set_index("Country")

In [10]:
combined_df = pd.concat([
    data_2021_common.add_prefix("2021_"),
    data_2022_common.add_prefix("2022_"),
    data_2023_common.add_prefix("2023_"),
    data_2024_common.add_prefix("2024_")
], axis=1)
display(combined_df.head())

#Check if any missing values in the combined dataframe
print(combined_df.isna().sum())

,2021_Overall score,2021_Government,2021_Technology Sector,2021_Data and Infrastructure,2022_Overall score,2022_Government,2022_Technology Sector,2022_Data and Infrastructure,2023_Overall score,2023_Government,2023_Technology Sector,2023_Data and Infrastructure,2024_Overall score,2024_Government,2024_Technology Sector,2024_Data and Infrastructure
Country,,,,,,,,,,,,,,,,
United States of America,88.159612,88.458142,83.307719,92.712973,85.721338,86.206601,81.673650,89.283763,84.796171,86.044650,81.023691,87.320172,87.032182,89.257568,80.943829,88.378778
Singapore,82.456813,94.876945,66.692602,85.800893,84.116260,89.679262,68.498240,94.171278,81.970965,90.398582,66.191800,89.322512,84.249441,90.962032,68.650950,84.610803
Finland,79.233742,88.447368,63.852136,85.401723,77.593327,87.803955,58.705584,86.270442,77.365141,88.343668,60.358706,83.393050,76.484718,84.855177,60.864522,72.601918
Netherlands,78.506811,80.424014,66.174703,88.921716,75.112283,78.234244,59.940203,87.162403,74.468996,78.895862,61.956848,82.554278,77.229804,84.575161,60.115238,79.529390
Sweden,78.164611,80.759755,67.372481,86.361596,73.056062,74.032491,61.473336,83.662358,72.554288,74.699266,62.706393,80.257204,75.402867,80.601595,63.450431,73.552942

2021_Overall score              0
2021_Government                 0
2021_Technology Sector          0
2021_Data and Infrastructure    0
2022_Overall score              0
2022_Government                 0
2022_Technology Sector          0
2022_Data and Infrastructure    0
2023_Overall score              0
2023_Government                 0
2023_Technology Sector          0
2023_Data and Infrastructure    0
2024_Overall score              0
2024_Government                 0
2024_Technology Sector          0
2024_Data and Infrastructure    0
dtype: int64

In [11]:
# Reset index to have 'Country' as a column again
combined_df.reset_index(inplace=True)

In [12]:
# Save the combined dataframe to a CSV file
combined_df.to_csv("../data/Combined_Dataset_2021_2024.csv", index=False)

In [13]:
data=pd.read_csv("../data/Combined_Dataset_2021_2024.csv")
data.head()

,Country,2021_Overall score,2021_Government,2021_Technology Sector,2021_Data and Infrastructure,2022_Overall score,2022_Government,2022_Technology Sector,2022_Data and Infrastructure,2023_Overall score,2023_Government,2023_Technology Sector,2023_Data and Infrastructure,2024_Overall score,2024_Government,2024_Technology Sector,2024_Data and Infrastructure
0,United States of America,88.159612,88.458142,83.307719,92.712973,85.721338,86.206601,81.673650,89.283763,84.796171,86.044650,81.023691,87.320172,87.032182,89.257568,80.943829,88.378778
1,Singapore,82.456813,94.876945,66.692602,85.800893,84.116260,89.679262,68.498240,94.171278,81.970965,90.398582,66.191800,89.322512,84.249441,90.962032,68.650950,84.610803
2,Finland,79.233742,88.447368,63.852136,85.401723,77.593327,87.803955,58.705584,86.270442,77.365141,88.343668,60.358706,83.393050,76.484718,84.855177,60.864522,72.601918
3,Netherlands,78.506811,80.424014,66.174703,88.921716,75.112283,78.234244,59.940203,87.162403,74.468996,78.895862,61.956848,82.554278,77.229804,84.575161,60.115238,79.529390
4,Sweden,78.164611,80.759755,67.372481,86.361596,73.056062,74.032491,61.473336,83.662358,72.554288,74.699266,62.706393,80.257204,75.402867,80.601595,63.450431,73.552942

In [14]:
data[data['Country']=='Nepal']

,Country,2021_Overall score,2021_Government,2021_Technology Sector,2021_Data and Infrastructure,2022_Overall score,2022_Government,2022_Technology Sector,2022_Data and Infrastructure,2023_Overall score,2023_Government,2023_Technology Sector,2023_Data and Infrastructure,2024_Overall score,2024_Government,2024_Technology Sector,2024_Data and Infrastructure
121,Nepal,31.923815,33.278061,24.466406,38.026977,30.754401,30.882355,23.497414,37.883435,30.767021,31.03723,24.206335,37.057499,33.139189,30.609076,25.435513,30.266474